In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/ananyapattnaik/Desktop/ml-course/AlgoTrading/01_buy_high_sell_low/data/top_50_stock_data.csv')
df.shape

/var/folders/z2/mqhd85v10hn6smp8w108lbdh0000gn/T/ipykernel_19275/3249322911.py:1: DtypeWarning: Columns (1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/ananyapattnaik/Desktop/ml-course/AlgoTrading/01_buy_high_sell_low/data/top_50_stock_data.csv')

(61594, 247)

In [4]:
df.head()

,Date,Close,High,Low,Open,Volume,Ticker,Close.1,High.1,Low.1,...,Low.47,Open.46,Open.47,Volume.46,Volume.47,Close.48,High.48,Low.48,Open.48,Volume.48
0,NaN,BRK-B,BRK-B,BRK-B,BRK-B,BRK-B,NaN,AAPL,AAPL,AAPL,...,PM,HON,PM,HON,PM,UPS,UPS,UPS,UPS,UPS
1,2020-04-20,188.75,189.35000610351562,187.3000030517578,188.72000122070312,6474700.0,BRK-B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-21,183.47999572753906,185.77999877929688,183.27999877929688,184.1699981689453,5882500.0,BRK-B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-22,186.5800018310547,187.3699951171875,185.33999633789062,186.4600067138672,5470000.0,BRK-B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-23,185.6300048828125,187.35000610351562,184.5,186.99000549316406,6211900.0,BRK-B,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN